In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
import gc
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

pal = sns.color_palette()

/Users/denissamohvalov/anaconda/lib/python3.5/site-packages/matplotlib/__init__.py:872: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))
/Users/denissamohvalov/anaconda/lib/python3.5/site-packages/matplotlib/__init__.py:892: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [2]:
df_train = pd.read_csv('')
df_train.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [5]:
df_test = pd.read_csv('')
df_test.head()

,test_id,question1,question2
0,0,How does the Surface Pro himself 4 compare wit...,Why did Microsoft choose core m3 and not core ...
1,1,Should I have a hair transplant at age 24? How...,How much cost does hair transplant require?
2,2,What but is the best way to send money from Ch...,What you send money to China?
3,3,Which food not emulsifiers?,What foods fibre?
4,4,"How ""aberystwyth"" start reading?",How their can I start reading?

In [25]:
n_train = len(df_train)
n_test = len(df_test)
n_dupl_train = len(df_train[df_train['is_duplicate'] == 1])
print('Количество пар в обучающей выборке: %s' % n_train)
print('Количество пар в тестовой выборке: %s' % n_test)
print('Отношение обучающей к тестовой: %s' % (n_test / n_train))
print('Количество одинаковых пар в обучающей выборке: %s' % n_dupl_train)
print('Доля одинаковых пар в обучающей выборке: %s' % (n_dupl_train / n_train))
q1_train = df_train['qid1'].tolist()
q2_train = df_train['qid2'].tolist()
total_train = pd.Series(q1_train + q2_train)
train_unique = np.unique(total_train)
n_train_unique = len(train_unique)
n_total_train = len(total_train)
n_more_than_one = np.sum(qids.value_counts() > 1)
print('Количество уникальных вопросов в обучающей выборке: %s' % n_train_unique)
print('Доля уникальных вопросов в обучающей выборке: %s' % (n_train_unique / n_total_train))
print('Количество вопросов, которые встречаются в обучающей выбор больше 1 раза: {0}'.format(n_sum_more_than_one))
print('Доля вопросов, которые встречаются в обучающей выбор больше 1 раза: {0}'.format(n_sum_more_than_one / n_total_train))

plt.figure(figsize=(12, 5))
plt.hist(qids.value_counts(), bins=25)
plt.title('Гистограмма частоты нахождения вопросов в тестовой выборке')
plt.xlabel('Количество вхождений вопроса в обучающую выборку')
plt.ylabel('Количество вопросов')

Количество пар в обучающей выборке: 404290
Количество пар в тестовой выборке: 2345796
Отношение обучающей к тестовой: 5.802260753419575
Количество одинаковых пар в обучающей выборке: 149263
Доля одинаковых пар в обучающей выборке: 0.369197853026293

NameError: name 'n_sum_' is not defined

In [13]:
qids[:5]

0    1
1    3
2    5
3    7
4    9
dtype: int64